  </main>

  <footer class="site-footer py-2">
    <div class="container text-center text-white-50">
      <small>&copy; 2026 - <span id="currentYear"></span> CEMIL - Jardenir Jorge Frederico</small>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="<?= BASE_URL; ?>/public/assets/js/main.js?v=<?= filemtime(__DIR__ . '/../../../public/assets/js/main.js'); ?>"></script>
</body>
</html>
